<header class="navbar navbar-expand navbar-fixed-top navbar-dark bg-dark">
    <div class="container">
    <%= link_to "Micropost", root_path, class: "navbar-brand" %>
    <nav class="navbar-nav">
        <%= link_to "Home", root_path, class: "nav-item nav-link" %>
        <%= link_to "Help", help_path, class: "nav-item nav-link" %>
        <% if logged_in? %>
            <%= link_to "Users", "#", class: "nav-item nav-link"%>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Account</a>
                <div class="dropdown-menu">
                    <%= link_to "Profile", current_user, class: "dropdown-item" %>
                    <%= link_to "Settings", "#", class: "dropdown-item" %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %>
                </div>
            </li>
        <% else %>
          <%= link_to "Log In", login_path, class: "nav-item nav-link" %>
        <% end %> 
    </nav>
    </div>
</header>