<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <section class="container my-3">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </section>
  </body>
</html>
